@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  background: #f8f6ef;
  color: #111111;
  font-family: "Inter", sans-serif;
}

/* headings */
h1,
h2,
h3,
.logo-font {
  font-family: "Cormorant Garamond", serif;
}